@import 'zero';
@import 'variables';
@import 'basic';

body{
    font-weight: 400;
    font-family: $font-arial;
    font-size: $p-font-size;
    background-color: $background-game;
    color: $white-color;
    display: flex;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

.game-block {
    display: flex;
    flex-direction: column;
    max-width: $container-width;
    min-width: $container-width;
    background-color: $background-color;
    border-radius: 30px;
    padding: 40px;
    margin: auto;
    @media screen and (max-width: 640px) {
        max-width: $container-width-tablet;
        min-width: $container-width-tablet;
    }
}

.buttons-up-block {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.up-button {
    padding: 4px 10px;
    background-color: $main-color;
    border: 2px solid $mark-color;
    color: $button-color;
    border-radius: 8px;
    font-size: 1.4rem;
    text-transform: uppercase;

    &:disabled {
        background-color: $disabled-background;
        border: 2px solid $disabled-mark-color;
    }
    &:hover {
        background-color: $mark-color;
    }
    &:active {
        background-color: $light-color;
    }
    @media screen and (max-width: 640px) {
        font-size: 1.1rem;
    }
}

.text-to-rev {
    margin-top: 24px;
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
    color: #e1ebf6;
}
.easy-button{
    margin-top: 10px;
    &_active{
        background-color: #b27641;
        border-color: #98561b;
        &:hover{
            background-color: #98561b;
        }
    }
}
.sound-button {
    width: 36px;
    background-image: url(../assets/img/svg/volume-on.svg);
    background-size: 30px;
    &_off {
        background-image: url(../assets/img/svg/volume-off.svg);
        background-size: 30px;
    }
}

.state-block {
    display: flex;
    justify-content: center;
    margin: 10px 0 20px;
    justify-content: space-between;
    
    .movies-wrapper {
        display: flex;
        .movies-tittle{}
        .movies-count{}
    }
    .time-wrapper{
        display: flex;
        .time-tittle{}
        .time-count{}
    }
}

.game-field {
    position: relative;
    margin: 0 auto;
    background-color: #aad2ff;
    border-radius: 10px;
    transition: all .3s;
    &__boun {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid $mark-color;
        border-radius: 10px;
        background: linear-gradient(48deg, rgb(223, 222, 227) 0%, rgb(167, 167, 209) 41%, rgba(127,182,194,1) 100%);;
        width: 60px;
        height: 60px;
        display: flex;
        text-align: center;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: 2.5rem;
        cursor: pointer;
        transition: .2s;
        z-index: 1;
        @media screen and (max-width: 640px) {
            width: 40px;
            height: 40px;
            font-size: 1.7rem;
        }
    }
    &__0{
        background: $background-color;
        border: none;
        background-color: #aad2ff;
        cursor: default;
        z-index: 0;
    }
}


.current-size {
    text-align: center;
    margin: 8px 0 4px;
}
.other-size-wrapper {
    text-align: center;
    margin-top: 4px;
    line-height: 120%;
    font-weight: 600;
    a {
        margin: 4px;
        text-decoration: underline;
        color: $button-color;
        font-weight: 100;
        cursor: pointer;
    }
}

.win-modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: auto;
    background: rgba(9, 70, 83, 0.7);
    transition: all .5s;
    z-index: 10;
    .win-message {
        padding: 20px;
        min-width: 200px;
        text-align: center;
        border-radius: 12px;
        color: #aad2ff;
        border: 3px solid #aad2ff;
        background-color: $background-color;
    }
}

.hiding{
    opacity: 0;
}

.display-none {
    display: none;
}

.score-block {
    width: 500px;
    max-width: 90%;
    max-height: 80%;
    background-color: #e1ebf6;
    border-radius: 20px;
    padding: 20px;
    &__wrapper {
        max-height: calc(70vh - 20px);
        overflow-y: auto;
    }
    &__title {
        color: $mark-color;
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 20px;
    }
    &__scoreGrid {
        width: 100%;
        min-height: 20px;
    }
    &__grid {
        display: grid;
        gap: 5px;
        grid-template-columns: auto auto auto auto;

        .grid-header {
            padding: 5px;
            border-radius: 5px;
            background-color: $background-color;
        }
        
        .grid-element {
            padding: 5px;
            border-radius: 5px;
            background-color: $light-color;
            color: $mark-color;
        }
    }
}

[draggable="true"] {
    /*
   To prevent user selecting inside the drag source
  */
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}