@use "sass:math";

$font-arial: Arial;
$p-font-size: 16px;

$main-color: #383dc8;
$light-color: #72a3eb;
$mark-color: #04098e;
$background-color: #0d3d62;
$background-game: #1d3560;
$button-color: #e2e7ff;

$disabled-background:#3b3c56;
$disabled-mark-color: #151529;
$disabled-color: #9095af;

$white-color: #FFFFFF;

$container-width-hd: 800px;
$container-width: 620px;
$container-width-tablet: 450px;
$container-width-phone: 320px;

$screen-hd: 1280px;
$screen-tablet: 768px;
$screen-phone: 480px;