@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$font-roboto: 'Roboto';

$h1-font-size: 114px;
$h1-font-weight: 700;

$h2-font-size: 48px;
$h2-font-weight: 400;

$subtitle-font-size: 24px;
$subtitle-font-weight: 400;

$button-font-size: 16px;
$button-font-weight: 500;

$button-font-size: 16px;
$button-font-weight: 500;

$body-font-size: 16px;
$body-font-weight: 400;

$small-paragraph-font-size: 15px;
$small-paragraph-font-weight: 300;

$color-green: #4B9200;
$color-orange: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
$color-dark-orange: #E47209;
$color-yellow: #FFEE2E;
$color-orange-gradient: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-pink-gradient: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
$color-red: #D31414;
$color-black-blue: #333B41;
$color-gray: #767474;
$color-gray-smoky: #ABABAB;
$color-gray-light: #F1F3F2;
$color-frosted-glass-white: rgba(253, 253, 255, 0.52);