.start-screen {
  display: flex;
  flex-direction: column;
  &__welcome-text {
    margin: 40px auto 70px;
    max-width: 480px;
    text-align: center;
    font-size: 2em;
  }
  &__start-button {
    margin-left: auto;
    margin-right: auto;
  }
  &__start-button {
    margin-left: auto;
    margin-right: auto;
  }
}