@use "sass:math";

$font-arial: 'Arial';
$p-font-size: 12px;

$main-color: #602912;
$hover-color: #853C1C;
$active-color: #461C09;

$white-color: #FFFFFF;

$container-width: 1290px;
$container-width-tablet: 1000px;
$container-width-phone: 480px;

$screen-tablet: 1399px;
$screen-phone: 999px